.pageStyle{
	margin: auto;
	width: 75%;
    padding: 50px;
    background-color: white;
    overflow: auto;
}

.background{
	background-color: lightgray;
	padding: 25px 0;
	overflow: auto;
}

.heading{
	background-color: black;
	color: white;
	text-align: center;
	padding: 1px;
}

h1{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.leftBox{
	width: 60%;
	float: left;
	overflow: auto;
}

.rightBox{
	width: 30%;
	float: left;
}

img{
	float: left;
	margin-right: 10px;
}

a{
	color: red;
}